:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
  --transition-dur-and-func: 250ms linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .page-header__modal-btn {
    display: none;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
}
.contact-phone-number {
  display: none;
}

.page-header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #303030;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .page-navigation__logo {
    margin-right: 70px;
  }
  .menu {
    display: flex;
    column-gap: 24px;
  }
  .menu__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    justify-content: flex-start;
  }
  .contact-phone-number {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: 40px;
    color: var(--secondary-text-color-theme-dark);
    transition: color var(--transition-dur-and-func);
  }
  .contact-phone-number:hover, .contact-phone-number:focus {
    color: var(--accent-color);
  }
  .menu {
    column-gap: 40px;
  }
}
.portfolio-suptitle {
  margin-bottom: 44px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 120px) / 4);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}/*# sourceMappingURL=portfolio.css.map */