:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

/* =========== HEADER =========== */
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}

.modal-open-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* color: #ffffff; */
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* =========== /HEADER =========== */
