h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  background-color: tomato;
}

/* ========== MIN-WIDTH MAX-WIDTH ========== */

/* 768px + */
/* @media (min-width: 768px) {
  body {
    background-color: teal;
  }
} */

/* 1200px + */
/* @media (min-width: 1200px) {
  body {
    background-color: yellowgreen;
  }
} */

/* 0px - 767px */
/* @media (max-width: 767px) {
  body {
    background-color: teal;
  }
} */

/* 0px - 500px */
/* @media (max-width: 500px) {
  body {
    background-color: yellowgreen;
  }
} */

/* ========== AND ========== */
/* 
768px +
0px - 1199px

768px - 1199px
*/
/* @media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: teal;
  }
} */

/* ========== OR ========== */
/* 
0px - 767px
1200px +
*/

/* @media (max-width: 767px), (min-width: 1200px) {
  body {
    background-color: teal;
  }
} */

/* ========== TYPES ========== */
/* 
  all
  screen 
  print
*/
/* 
@media screen and (min-width: 768px) {
} */

/* @media print {
  .menu {
    display: none;
  }

  .btn {
    display: none;
  }

  .sec {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .text {
    font-size: 18px;
    line-height: 1.4;
  }
} */

/* ========== ORIENTATION ========== */
/* @media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: teal;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-color: yellowgreen;
  }
} */
/* 
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} */
