.section-description {
  @include font(18px, 400, 30px);
  letter-spacing: 0.02em;
}

.section-description-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.section-description-theme-light {
  color: var(--primary-text-color-theme-light);
}
